<div class="ui list">

  <div class="ui header inverted">ACTOR</div>
  <div class="property-edit">
    <label>Name</label>
    {{input type="text" focus-out="confirmChange" enter="confirmChange" value=model.name}}
  </div>

  {{!-- Properties of ONLY child actors --}}
  {{#if editable}}

    <div class="ui header inverted">TRANSFORM</div>
    <div class="property-edit">
      <label>Position</label>
      {{input type="number" focus-out="confirmChange" enter="confirmChange" value=model.position.x}}
      {{input type="number" focus-out="confirmChange" enter="confirmChange" value=model.position.y}}
    </div>

    <div class="property-edit">
      <label>Rotation</label>
      {{input type="number" focus-out="confirmChange" enter="confirmChange" value=model.rotation}}
    </div>

    <div class="property-edit">
      <label>Scale</label>
      {{input type="number" focus-out="confirmChange" enter="confirmChange" step="0.1" value=model.scale.x}}
      {{input type="number" focus-out="confirmChange" enter="confirmChange" step="0.1" value=model.scale.y}}
    </div>

    <div class="ui header inverted">VISUAL</div>
    <div class="property-edit">
      <label>Alpha</label>
      {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.1" value=model.alpha}}
    </div>

    {{#if model.isAnimation}}
      <div class="property-edit">
        <label>Anchor</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.x}}
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.y}}
      </div>

      <div class="ui header inverted">ANIMATION</div>
      <div class="property-edit">
        <label>Speed</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" value=model.speed}}
      </div>

      <div class="property-edit">
        <label>Loop</label>
        {{input type="checkbox" checked=model.loop}}
      </div>

      <div class="property-edit">
        <label>Use SpriteSheet</label>
        {{input type="checkbox" checked=model.useSpritesheet}}
      </div>

      {{#if model.useSpritesheet}}
        <div class="property-edit">
          <label>SpriteSheet</label>
          {{input type="text" focus-out="confirmChange" enter="confirmChange" value=model.spritesheet}}
        </div>

        <div class="property-edit">
          <label>Frame</label>
          {{input type="number" focus-out="confirmChange" enter="confirmChange" min="1" step="1" value=model.frameWidth}}
          {{input type="number" focus-out="confirmChange" enter="confirmChange" min="1" step="1" value=model.frameHeight}}
        </div>
      {{else}}
        <div class="property-edit">
          {{input type="button" value="Edit Frames" class="block"}}
        </div>
      {{/if}}
    {{/if}}

    {{#if model.isSprite}}
      <div class="property-edit">
        <label>Anchor</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.x}}
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.y}}
      </div>

      <div class="ui header inverted">SPRITE</div>
      <div class="property-edit">
        <label>Image</label>
        {{input type="text" focus-out="confirmChange" enter="confirmChange" value=model.image}}
      </div>
    {{/if}}

    {{#if model.isTilingSprite}}
      <div class="property-edit">
        <label>Anchor</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.x}}
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" max="1" step="0.5" value=model.anchor.y}}
      </div>

      <div class="ui header inverted">TILING SPRITE</div>
      <div class="property-edit">
        <label>Width</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" step="1" value=model.width}}
      </div>
      <div class="property-edit">
        <label>Height</label>
        {{input type="number" focus-out="confirmChange" enter="confirmChange" min="0" step="1" value=model.height}}
      </div>
    {{/if}}

  {{/if}}

</div>
