<span {{bind-attr class=":toggle-icon node.children.length::leaf"}} {{action 'toggle'}}>
    {{#if isExpanded}}
        {{fa-icon "minus-circle"}}
    {{else}}
        {{fa-icon "plus-circle"}}
    {{/if}}
</span>
<a class="text" {{action 'select' node}}>{{node.text}}</a>
{{#if isExpanded}}
    {{ci-outliner-branch node=node}}
{{/if}}
