<span {{bind-attr class=":toggle-icon node.children.length::leaf"}} {{action 'toggle'}}>
    {{#if isExpanded}}
        {{fa-icon "minus-circle"}}
    {{else}}
        {{fa-icon "plus-circle"}}
    {{/if}}
</span>
<span {{action 'toggleVisibility' node node.visible}}>
    {{#if node.visible}}
        {{fa-icon "eye"}}
    {{else}}
        {{fa-icon "eye-slash"}}
    {{/if}}
</span>
<span>{{fa-icon type}}</span>
<a class="text" {{action 'select' node}}>{{node.name}}</a>
{{#if isExpanded}}
    {{ci-outliner-branch node=node delegate=delegate}}
{{/if}}
